#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.item{
margin:20px
}

#itemList{
  display: flex;
  justify-content: center;
  width: 550px;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart {
  width: 250px;
  height: 500px;
  border: 1px solid;
}

.content {
  padding: 0 50px;
  width: 700px;
}

.header {
  margin-bottom: 10px;
  width: 100%;
  font-size: 30px;
  text-align: left;
  /* cursor: pointer; */
  position: sticky;
  top: 0;
  background-color: #8888881a;
}

.layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img{
  height: 150px;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.item-cart {
  flex-direction: row;
  width: 90%;
  /* margin-left: -20px; */

}

.btn-cart{
  display: flex;
  flex-direction: column;
}
.recycle {
  align-self: center;
  z-index: 1;
  cursor: pointer;
}

.recycle>span {
  background-color: #ffffff;
  padding: 1px;
}

.scroll {
  margin: 4px, 4px;
  padding: 4px;
  padding-top: 20px;
  width: 97%;
  height: 370px;
  overflow-x: hidden;
  overflow-y: auto;
}

.buttons{
  z-index:5;
}