.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    position: relative;
    overflow: hidden;
    display: flex;

    width: 200px;
    height: 300px;

    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.56s ease-in-out;
    margin: 30px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.card-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.card__title {
    align-self: flex-end;
    padding: 0.5rem;
    color: rgba(255, 255, 255, .90);
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
}